# Java
/target/
*.class
*.jar
*.war
*.ear

# Maven
/logs/
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# IntelliJ IDEA
/.idea/
/*.iml
*.iws
*.ipr
/out/

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# Liquibase
liquibase.*
api-gateway/target